.center {
    margin: auto;
    text-align: center;
}

.dropdown.profile-element.center img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.text-8 {
    font-size: 8px !important;
}

.text-10 {
    font-size: 10px !important;
}

.text-12 {
    font-size: 12px !important;
}

.text-14 {
    font-size: 14px !important;
}

.text-16 {
    font-size: 16px !important;
}

.text-18 {
    font-size: 18px !important;
}

.text-20 {
    font-size: 20px !important;
}

.text-22 {
    font-size: 22px !important;
}

.text-24 {
    font-size: 24px !important;
}

.text-26 {
    font-size: 26px !important;
}

.h-50 {
    min-height: 50px !important;
    max-height: 50px !important;
}

.h-60 {
    min-height: 60px !important;
    max-height: 60px !important;
}

.h-70 {
    min-height: 70px !important;
    max-height: 70px !important;
}

.h-80 {
    min-height: 80px !important;
    max-height: 80px !important;
}

.h-90 {
    min-height: 90px !important;
    max-height: 90px !important;
}

.h-100 {
    min-height: 100px !important;
    max-height: 100px !important;
}

#visit-banner {
    background-image: url('../image/banner.png');
    background-size: contain;
    background-position: 50% 50%;
    border-radius: 5px;
}

.white-space-normal {
    white-space: normal !important;
}

.blueimp-gallery>.slides>.slide img {
    max-height: 500px !important;
}